<div class="slide" data-slide-elem>
  {{#if imgCover}}
    <img
      src="{{imgCover}}"
      alt="Slide cover"
      class="slide__img"
      loading="lazy"
    />
  {{/if}}
  <div class="slide__info-container">
    <div class="slide__category">
      {{#each category}}
        {{this}}
      {{/each}}
    </div>
    <h3 class="slide__title">{{title}}</h3>
    <div class="slide__text-container">
      <p class="slide__date">{{date}}</p>
      <hr class="text__line" />
      <p class="slide__text">{{descriptionCover}}</p>
    </div>
  </div>
</div>